.MenuContainer
{
    width: 30rem;
    margin: 3rem;
    border: transparent;
    border-radius: 12px;
    background-color: rgb(224, 112, 46);
    padding: 1rem;
    margin: auto;
}

.ContentContainer{
     padding: '50px 50px' ;
     /* display: flex;
     flex-direction: row; */
}
.divLeft {
    border: 2px solid red;
    width: 100%;
    padding:6rem;
  }
  
.divRight {
    padding: 2rem;
    border: 2px solid rgb(0, 38, 255);
    width: 100%;
    background-color: rgb(3, 18, 31);
    color: white;
}
  
.imageContainer
{
    width:400px;
}

.h1
{
    font-size: 3rem;
}
.modalStyling :hover
{
    color:aqua;
}

.HeadStyling
{
 font-size: 3rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: 'Times New Roman', serif;
}
.SSX
{
      color: rgb(77, 69, 202);
}

.LayoutStyling
{
    background-color: rgb(38, 48, 68)
}
.StudentAllergies 
{
    height:10;
     padding:100
}

.StudentAllergies :hover
{
 color: rgb(224, 112, 46);
 /* border: 2px solid rgb(224, 112, 46); */
}
.StudentsEatingStyling
{
    margin:auto;
    color:aliceblue;
    /* background-color: gray; */
    border-radius: 12px;
}
.StudentAllergiesContainer 
{
    /* border: 2px solid red; */
    display:flex;
}
.imageContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}


