.MenuContainer
{
    width: 200px;
    margin: 2rem;
}
.spanStyling
{
    border: 2px solid blue;
    text-align: center;
    width:100%;
}
.centerLayout
{
    background-color: gray
}

.cardDiv
{
    padding: 24;
    min-height: 360;
    background-color: rgba(197, 169, 12, 0.425) ;
}