.MenuContainer
{
    width: 200px;
    margin: 3rem;
}

.ContentContainer{
     padding: '50px 50px' ;
     display: flex;
     flex-direction: row;
}
.divLeft{
/* border: 2px solid red; */
width:35rem;
}
.divRight{
    border: 2px solid rgb(0, 38, 255);
    display: flex;
    flex-direction: row;
    min-width: 20rem;
    margin:1rem;
}

.imageContainer
{
    width:400px;
}

.h1
{
    font-size: 3rem;
}